.services-section {
    padding: 20px;
  }
  
  .services-content {
    display: flex;
    align-items: center; /* Align items to the top */
    justify-content: space-between;
  }
  
  .services-image {
    flex: 1; /* Allow the image to take some space */
    text-align: left; /* Align image to the left */
  }
  
  .services-image img {
    width: 100%; /* Make the image responsive */
    max-width: 400px; /* Adjust based on your layout */
    height: auto; /* Maintain aspect ratio */
  }
  
  .services-buttons {
    flex: 1; /* Allow the buttons to take some space */
    display: flex; /* Flex layout for buttons */
    justify-content: center; /* Center the button container horizontally */
    align-items: flex-start; /* Align button container to the top */
  }
  
  .button-cont {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
    gap: 20px; /* Space between buttons */
  }
  
  .service-button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .services-description {
    flex: 1; /* Allow the description to take some space */
    text-align: left; /* Align text to the left */
    margin-left: 20px; /* Space between buttons and description */
  }
  
  .services-description h2 {
    align-items: flex-start;
    margin-top: -40px;
  }

  .services-description p {
    margin: 28px 0;
  }
  